{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Contact
{% endblock %}

{% block body %}
	<h2>
		Contact
	</h2>
	<hr>
	<p class="bg-danger" style="display: inline-block; padding: 5px;">
		La page de contact n'est pas encore disponible. Vous allez être redirigé vers la page d'accueil.
	</p>
	<!-- <meta http-equiv="refresh" content="3; url=/Symfony/web/app_dev.php/">
		// Redirection vers 'url' apres 'content' secondes -->
{% endblock %}