{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	{{ parent () }} - Déposer une annonce
{% endblock %}

{% block ocplatform_body %}
	<h2>
		Ajouter une annonce :
	</h2>
	{{ include("OCPlatformBundle:Advert:form.html.twig") }}
	<p class="text-warning">
		<strong class="bg-warning" style="padding: 5px; color: black;">Attention :</strong>Cette annonce sera ajoutée directement sur la page d'accueil après validation du formulaire.
	</p>
{% endblock %}