<!DOCTYPE html>
<html>
	<head>
		<title>Troisième page avec Symfony (OpenClassroom)</title>
		<meta charset="utf-8">
	</head>

	<body>
		<h1>
			Good bye World !
		</h1>
		<p>
			Mon troisième "Hello World" (good bye world) generé avec Symfony, toujours grace au cours Open Classroom. Le modèle MVC a été utilisé.
		</p>
		<p>
			Ce template a été fait par <strong>{{nom}}</strong>
		</p>
		<p>
			Parametre URL : <strong>{{tag}}</strong>
		</p>
		<p>
			<a href="/Symfony/web/app_dev.php/platform/helloworld">Hello back ?</a>
		</p>
		<p style="margin-top: 150px">
			<strong>URL de la page : </strong> <a href="{{url}}">{{url}}<a>
		</p>
	</body>
</html>