<h3>
	Formulaire :
</h3>

<form class="well" method="POST" action="{{ path('oc_platform_add2')}}">
	<div class="form-group" style="margin-bottom: 30px">
		<input type="text" name="title" placeholder="Titre..." class="form-control">
		<textarea name="content" placeholder="Votre annonce..." class="form-control" style="margin-top: 5px;"></textarea>
		
		<input type="submit" class="btn btn-success pull-right" style="margin-top: 5px;">

	</div>
</form>