<!DOCTYPE html>
<html>
	<head>
		<title>Deuxieme page avec Symfony (OpenClassroom)</title>
		<meta charset="utf-8">
	</head>

	<body>
		<h1>
			Hello World {{page}} !
		</h1>
		<p>
			Mon deuxième Hello World generé avec Symfony, grace au cours Open Classroom. Le modèle MVC a été utilisé.
		</p>
		<p>
			Ce template a été fait par <strong>{{nom}}</strong>
		</p>
		<p>
			<a href="/Symfony/web/app_dev.php/platform/byeworld">Good bye ?</a><br>
			<a href="/Symfony/web/app_dev.php/platform/byeworld?tag=developpeur">Good bye (avec parametres) ?</a>
		</p>
		<p style="margin-top: 150px">
			<strong>URL de la page : </strong> <a href="{{url}}">{{url}}<a><br>
		</p>
	</body>
</html>