{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<h2>
		Annonces
	</h2>

	<hr>

	{% block ocplatform_body %}
	{% endblock %}
	
{% endblock %}
